.ctrl
    height: 60%;
    ul
        height: 100%;
        display: flex;
        align-items: space-around;
        justify-content: space-around;
        font-size: 22px;
        color: #757575;
        flex-wrap wrap
        li
            flex: 0 0 25%;
            height: 40px;
            line-height: 40px
            text-align: center;
            margin-top 20px
            &:nth-child(4n)
                color: #f06e6e;
            &:last-child
                display: flex
                justify-content: center
                div
                    width 40px
                    height 40px
                    border-radius: 20px
                    background: #f06e6e
                    color #fff
                    box-shadow: 1px 3px 11px 0 #e5a2a0;