.wrap 
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 16px 24px 8px;
    background-color: #fff;
    color #000
    .display
        border-bottom: 1px solid #eee;
        height: 40%;
        display: flex;
        flex-direction: column;
        position: relative
        overflow: hidden
        .content
            position: relative;
            -ms-flex-positive: 1;
            flex-grow: 1;
            text-align: right;
            word-break: break-all;
            font-size: 24px;
            color: #757575;
            div
                position: absolute;
                right: 0;
                bottom: 0;
        .result
            display: inline-block;
            padding: 8px 0;
            height: 36%;
            text-align: right;
            font-size: 52px;
            overflow: hidden;
            outline: none;
            color: #000;
            word-break: break-all;
.ctrl
    height: 60%;
    ul
        height: 100%;
        display: flex;
        align-items: space-around;
        justify-content: space-around;
        font-size: 22px;
        color: #757575;
        flex-wrap wrap
        li
            flex: 0 0 25%;
            height: 40px;
            line-height: 40px
            text-align: center;
            margin-top 20px
            &:nth-child(4n)
                color: #f06e6e;
            &:last-child
                display: flex
                justify-content: center
                div
                    width 40px
                    height 40px
                    border-radius: 20px
                    background: #f06e6e
                    color #fff
                    box-shadow: 1px 3px 11px 0 #e5a2a0;
.clear
    position: absolute
    width 80vw
    height 80vw
    border-radius: 50%
    background: #0606063d
    transition: all .5s linear;
    transform:  translate(-80vw, 60vw)
    &.active
        animation: animate 1s


@keyframes animate {
    from {
         transform:  translate(-60vw, 40vw)
         opacity 1
    }
    to {
        transform:  scale(2)
        opacity 0
    }

}
