.wrap 
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 16px 24px 8px;
    background-color: #fff;
    color #000
    .display
        border-bottom: 1px solid #eee;
        height: 40%;
        display: flex;
        flex-direction: column;
        .content
            position: relative;
            -ms-flex-positive: 1;
            flex-grow: 1;
            text-align: right;
            word-break: break-all;
            font-size: 24px;
            color: #757575;
            div
                position: absolute;
                right: 0;
                bottom: 0;
        .result
            display: inline-block;
            padding: 8px 0;
            height: 36%;
            text-align: right;
            font-size: 52px;
            overflow: hidden;
            outline: none;
            color: #000;
            word-break: break-all;